In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./dataset/air_2.csv')

# 타입 변경

In [3]:
# 일자를 데이터타입으로 변경
df = df.astype({'air_date':'str'})
df['air_date'] = pd.to_datetime(df['air_date'])
df

,air_date,air_hour,air_place,air_pm1,air_pm2,air_Ozone,air_no,air_co,air_so
0,2022-07-01,01:00,평균,4,12,0.011,0.022,0.4,0.002
1,2022-07-01,01:00,강남구,2,13,0.013,0.031,0.3,0.003
2,2022-07-01,01:00,강동구,1,8,0.017,0.017,0.3,0.002
3,2022-07-01,01:00,강북구,1,6,0.027,0.008,0.2,0.002
4,2022-07-01,01:00,강서구,6,19,0.005,0.015,0.3,0.002
...,...,...,...,...,...,...,...,...,...
4363,2022-07-07,24:00,용산구,11,20,0.039,0.006,0.2,0.002
4364,2022-07-07,24:00,은평구,17,25,0.031,0.006,0.2,0.002
4365,2022-07-07,24:00,종로구,14,23,0.039,0.007,0.2,0.003
4366,2022-07-07,24:00,중구,13,24,0.035,0.011,0.2,0.003
4367,2022-07-07,24:00,중랑구,18,24,0.037,0.010,0.4,0.002

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4368 entries, 0 to 4367
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   air_date   4368 non-null   datetime64[ns]
 1   air_hour   4368 non-null   object
 2   air_place  4368 non-null   object
 3   air_pm1    4368 non-null   object
 4   air_pm2    4368 non-null   object
 5   air_Ozone  4368 non-null   object
 6   air_no     4368 non-null   object
 7   air_co     4368 non-null   object
 8   air_so     4368 non-null   object
dtypes: datetime64[ns](1), object(8)
memory usage: 307.2+ KB

In [5]:
# 결측값 전처리
df.replace({'-':0}, inplace=True)
df

In [6]:
df[['air_pm1', 'air_pm2']] = df[['air_pm1', 'air_pm2']].astype(int)

In [7]:
df.loc[:, 'air_Ozone':'air_so'] = df.loc[:, 'air_Ozone':'air_so'].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4368 entries, 0 to 4367
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   air_date   4368 non-null   datetime64[ns]
 1   air_hour   4368 non-null   object
 2   air_place  4368 non-null   object
 3   air_pm1    4368 non-null   int32
 4   air_pm2    4368 non-null   int32
 5   air_Ozone  4368 non-null   float64
 6   air_no     4368 non-null   float64
 7   air_co     4368 non-null   float64
 8   air_so     4368 non-null   float64
dtypes: datetime64[ns](1), float64(4), int32(2), object(2)
memory usage: 273.1+ KB

# join을 위한 시간 컬럼값 통일

In [8]:
df['air_hour'] = df['air_hour'].str.split(':').str[0]
df

,air_date,air_hour,air_place,air_pm1,air_pm2,air_Ozone,air_no,air_co,air_so
0,2022-07-01,01,평균,4,12,0.011,0.022,0.4,0.002
1,2022-07-01,01,강남구,2,13,0.013,0.031,0.3,0.003
2,2022-07-01,01,강동구,1,8,0.017,0.017,0.3,0.002
3,2022-07-01,01,강북구,1,6,0.027,0.008,0.2,0.002
4,2022-07-01,01,강서구,6,19,0.005,0.015,0.3,0.002
...,...,...,...,...,...,...,...,...,...
4363,2022-07-07,24,용산구,11,20,0.039,0.006,0.2,0.002
4364,2022-07-07,24,은평구,17,25,0.031,0.006,0.2,0.002
4365,2022-07-07,24,종로구,14,23,0.039,0.007,0.2,0.003
4366,2022-07-07,24,중구,13,24,0.035,0.011,0.2,0.003
4367,2022-07-07,24,중랑구,18,24,0.037,0.010,0.4,0.002

In [9]:
df['air_hour'] = df['air_hour'].astype(int)
df['air_hour'] = df['air_hour'].astype(str) + '시'
df

,air_date,air_hour,air_place,air_pm1,air_pm2,air_Ozone,air_no,air_co,air_so
0,2022-07-01,1시,평균,4,12,0.011,0.022,0.4,0.002
1,2022-07-01,1시,강남구,2,13,0.013,0.031,0.3,0.003
2,2022-07-01,1시,강동구,1,8,0.017,0.017,0.3,0.002
3,2022-07-01,1시,강북구,1,6,0.027,0.008,0.2,0.002
4,2022-07-01,1시,강서구,6,19,0.005,0.015,0.3,0.002
...,...,...,...,...,...,...,...,...,...
4363,2022-07-07,24시,용산구,11,20,0.039,0.006,0.2,0.002
4364,2022-07-07,24시,은평구,17,25,0.031,0.006,0.2,0.002
4365,2022-07-07,24시,종로구,14,23,0.039,0.007,0.2,0.003
4366,2022-07-07,24시,중구,13,24,0.035,0.011,0.2,0.003
4367,2022-07-07,24시,중랑구,18,24,0.037,0.010,0.4,0.002

In [129]:
df.to_csv('C:/Users/enduser/Python Basic/semi_project/dataset/air_final.csv', index=None, encoding='utf-8-sig')