In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('./dataset/air_final.csv')
df2 = pd.read_csv('./dataset/traffic_final.csv')

# 시간대 및 통행량 컬럼 재생성

In [3]:
s = df2[['일자', '주소명']]
v = df2.loc[:, '24시':'23시']
df2 = pd.concat([s,v], axis=1)

In [4]:
df2

,일자,주소명,24시,1시,2시,3시,4시,5시,6시,7시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,2022-07-01,강남구,10539.0,7966.0,6270.0,5522.0,6388.0,13587.0,24919.0,33923.0,...,32284.0,33481.0,34953.0,35789.0,36050.0,31800.0,27851.0,28200.0,26251.0,19988.0
1,2022-07-01,강동구,3780.0,2593.0,1932.0,1802.0,2818.0,5836.0,10524.0,12134.0,...,12342.0,12649.0,13002.0,12722.0,12471.0,11676.0,11741.0,10761.0,9178.0,6127.0
2,2022-07-01,강서구,5986.0,4770.0,3967.0,3760.0,5299.0,10841.0,18266.0,21808.0,...,21849.0,22848.0,24720.0,25185.0,24983.0,22372.0,18178.0,17016.0,14500.0,10222.0
3,2022-07-01,관악구,2287.0,1938.0,1715.0,1501.0,1703.0,2684.0,4023.0,6009.0,...,5449.0,5547.0,5800.0,5802.0,5616.0,5433.0,4996.0,4614.0,4618.0,3857.0
4,2022-07-01,광진구,3061.0,2081.0,1821.0,1544.0,1458.0,2974.0,5874.0,8349.0,...,8531.0,8577.0,8846.0,9698.0,9887.0,8786.0,7188.0,7411.0,6506.0,4627.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
711,2022-07-31,영등포구,12786.0,9846.0,7798.0,6136.0,6160.0,8082.0,10710.0,13186.0,...,28703.0,29253.0,29341.0,28047.0,25852.0,23072.0,23087.0,20220.0,16660.0,11821.0
712,2022-07-31,용산구,14499.0,10656.0,8413.0,6827.0,6557.0,8491.0,11619.0,13785.0,...,28388.0,28802.0,28570.0,28001.0,26062.0,23918.0,24549.0,23306.0,19840.0,14805.0
713,2022-07-31,종로구,6700.0,5055.0,4134.0,3327.0,2854.0,4015.0,6458.0,8090.0,...,19140.0,19757.0,18846.0,17872.0,15803.0,13511.0,12681.0,11959.0,9127.0,6732.0
714,2022-07-31,중구,4334.0,3036.0,2243.0,1605.0,1452.0,2391.0,3839.0,5020.0,...,13820.0,13673.0,13054.0,12846.0,11125.0,9504.0,8572.0,7380.0,5801.0,4456.0
715,2022-07-31,중랑구,2978.0,2129.0,1446.0,1285.0,1982.0,3236.0,4625.0,5399.0,...,8316.0,8172.0,8163.0,7709.0,7226.0,6952.0,6600.0,6359.0,5302.0,3935.0

In [5]:
df_group = df2.groupby('일자')
r = pd.DataFrame()

for key, group in df_group:
    for i in range(1,25):
        s = group[['일자', '주소명', str(i)+'시']].copy()
        s['시간'] = str(i) + '시'
        s.rename(columns = {str(i)+'시':'차량수'}, inplace=True)
        r = pd.concat([r,s])

In [6]:
r['주소명'].value_counts()
r

             일자   주소명      차량수   시간
0    2022-07-01   강남구   7966.0   1시
1    2022-07-01   강동구   2593.0   1시
2    2022-07-01   강서구   4770.0   1시
3    2022-07-01   관악구   1938.0   1시
4    2022-07-01   광진구   2081.0   1시
..          ...   ...      ...  ...
711  2022-07-31  영등포구  12786.0  24시
712  2022-07-31   용산구  14499.0  24시
713  2022-07-31   종로구   6700.0  24시
714  2022-07-31    중구   4334.0  24시
715  2022-07-31   중랑구   2978.0  24시

[17184 rows x 4 columns]

In [7]:
df_end = pd.merge(df1, r, left_on = ['air_date', 'air_hour', 'air_place'], right_on = ['일자', '시간', '주소명'])

In [8]:
df_end['air_place'].value_counts()
df_end

,air_date,air_hour,air_place,air_pm1,air_pm2,air_Ozone,air_no,air_co,air_so,일자,주소명,차량수,시간
0,2022-07-01,1시,강남구,2,13,0.013,0.031,0.3,0.003,2022-07-01,강남구,7966.00,1시
1,2022-07-01,1시,강동구,1,8,0.017,0.017,0.3,0.002,2022-07-01,강동구,2593.00,1시
2,2022-07-01,1시,강서구,6,19,0.005,0.015,0.3,0.002,2022-07-01,강서구,4770.00,1시
3,2022-07-01,1시,관악구,7,18,0.009,0.008,0.3,0.002,2022-07-01,관악구,1938.00,1시
4,2022-07-01,1시,광진구,7,13,0.006,0.023,0.4,0.003,2022-07-01,광진구,2081.00,1시
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3811,2022-07-07,24시,영등포구,17,31,0.031,0.006,0.3,0.002,2022-07-07,영등포구,12109.00,24시
3812,2022-07-07,24시,용산구,11,20,0.039,0.006,0.2,0.002,2022-07-07,용산구,13494.49,24시
3813,2022-07-07,24시,종로구,14,23,0.039,0.007,0.2,0.003,2022-07-07,종로구,6025.00,24시
3814,2022-07-07,24시,중구,13,24,0.035,0.011,0.2,0.003,2022-07-07,중구,6464.00,24시
3815,2022-07-07,24시,중랑구,18,24,0.037,0.010,0.4,0.002,2022-07-07,중랑구,3033.00,24시

In [9]:
# 겹치는 컬럼 제거 및 차량수 컬럼 데이터 타입 변경
df_end.drop(['일자', '주소명', '시간'], axis=1, inplace=True)
df_end = df_end.astype({'차량수':'int'})
df_end

,air_date,air_hour,air_place,air_pm1,air_pm2,air_Ozone,air_no,air_co,air_so,차량수
0,2022-07-01,1시,강남구,2,13,0.013,0.031,0.3,0.003,7966
1,2022-07-01,1시,강동구,1,8,0.017,0.017,0.3,0.002,2593
2,2022-07-01,1시,강서구,6,19,0.005,0.015,0.3,0.002,4770
3,2022-07-01,1시,관악구,7,18,0.009,0.008,0.3,0.002,1938
4,2022-07-01,1시,광진구,7,13,0.006,0.023,0.4,0.003,2081
...,...,...,...,...,...,...,...,...,...,...
3811,2022-07-07,24시,영등포구,17,31,0.031,0.006,0.3,0.002,12109
3812,2022-07-07,24시,용산구,11,20,0.039,0.006,0.2,0.002,13494
3813,2022-07-07,24시,종로구,14,23,0.039,0.007,0.2,0.003,6025
3814,2022-07-07,24시,중구,13,24,0.035,0.011,0.2,0.003,6464
3815,2022-07-07,24시,중랑구,18,24,0.037,0.010,0.4,0.002,3033

In [12]:
# 통행량 컬럼 이름 변경
df_end.rename(columns = {'차량수':'air_car'}, inplace=True)
df_end['air_place'].value_counts()

강남구     168
서대문구    168
중구      168
종로구     168
용산구     168
영등포구    168
양천구     168
송파구     168
성북구     168
성동구     168
서초구     168
마포구     168
동작구     168
동대문구    168
도봉구     168
노원구     168
금천구     168
구로구     168
광진구     168
관악구     168
강서구     168
중랑구     168
강동구     120
Name: air_place, dtype: int64

In [13]:
# 개수가 맞지 않는 강동구의 행 제거
df_final = df_end[df_end['air_place']!='강동구']

In [14]:
df_final

,air_date,air_hour,air_place,air_pm1,air_pm2,air_Ozone,air_no,air_co,air_so,air_car
0,2022-07-01,1시,강남구,2,13,0.013,0.031,0.3,0.003,7966
2,2022-07-01,1시,강서구,6,19,0.005,0.015,0.3,0.002,4770
3,2022-07-01,1시,관악구,7,18,0.009,0.008,0.3,0.002,1938
4,2022-07-01,1시,광진구,7,13,0.006,0.023,0.4,0.003,2081
5,2022-07-01,1시,구로구,1,9,0.011,0.005,0.2,0.002,1396
...,...,...,...,...,...,...,...,...,...,...
3811,2022-07-07,24시,영등포구,17,31,0.031,0.006,0.3,0.002,12109
3812,2022-07-07,24시,용산구,11,20,0.039,0.006,0.2,0.002,13494
3813,2022-07-07,24시,종로구,14,23,0.039,0.007,0.2,0.003,6025
3814,2022-07-07,24시,중구,13,24,0.035,0.011,0.2,0.003,6464
3815,2022-07-07,24시,중랑구,18,24,0.037,0.010,0.4,0.002,3033

In [55]:
df_final.to_csv('C:/Users/enduser/Python Basic/semi_project/dataset/dataset_final.csv', index=None, encoding='utf-8-sig')

In [19]:
df_end.nunique() # 고유값 개수 확인

air_date        7
air_hour       24
air_place      23
air_pm1        60
air_pm2        68
air_Ozone     127
air_no         44
air_co         10
air_so          8
air_car      3578
dtype: int64

In [21]:
df_final['air_place'].value_counts()

강남구     168
강서구     168
중구      168
종로구     168
용산구     168
영등포구    168
양천구     168
송파구     168
성북구     168
성동구     168
서초구     168
서대문구    168
마포구     168
동작구     168
동대문구    168
도봉구     168
노원구     168
금천구     168
구로구     168
광진구     168
관악구     168
중랑구     168
Name: air_place, dtype: int64